<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') %>
      <main class="main">
        <form class="message-form" action="<%=action%>" method="post">
          <% if (errors) { %>
          <ul class="error-list">
            <% errors.forEach(error => { %>
            <li class="error"><%= error.msg %></li>
            <% }) %>
          </ul>
          <% } %>

          <label class="form-label" for="passcode">Passcode:</label>
          <input
            class="form-input"
            type="password"
            id="passcode"
            name="passcode"
            required
          />

          <button class="submit-btn" type="submit"><%= title %></button>
        </form>
      </main>
    </div>
    <script src="./javascript/dropdown.js" defer></script>
  </body>
</html>
